{% macro is_finished(criteria) -%}
    EXISTS(
        SELECT TRUE
        FROM (
            SELECT task_status.title
            FROM task_status
            WHERE tasks.id = task_status.task_id
            ORDER BY task_status.created_at DESC
            LIMIT 1
        ) AS last_status
        WHERE last_status.title = 'FINISHED'
    )
{%- endmacro %}

{% macro older_than(criteria) -%}
    now() - tasks.created_at < {{ criteria.period }}::interval
{%- endmacro %}
