SELECT count(tasks.id)
FROM tasks
{% if title %}
    INNER JOIN task_status ON tasks.id = task_status.task_id
{% endif %}
WHERE
    {% if title %} task_status.title LIKE {{ title }} AND {% endif %}
    TRUE;
